<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Person</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>
<h1>Créer un scénario :</h1>


<form method="POST"
      th:action="@{/addScenario}" th:object="${scenarioForm}">
    Titre :
    <input th:field="*{titre}" type="text"/>
    <br/>
    Description :
    <input th:field="*{description}" type="text"/>
    <br/>
    <input type="submit" value="Créer"/>
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div style="color:red;font-style:italic;" th:if="${errorMessage}"
     th:utext="${errorMessage}">
    ...
</div>

</body>
</html>